<div class="container-fluid" id="dashboard">
  <div class="row">
    <div class="col-xs-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Contacts</h3>
        </div>
        <div class="panel-body max-height-60 overflow-y">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" v-model="textFilter">
            <label>
              <input type="checkbox" v-model="statusFilters.unseen">
              Unseen only
            </label>
            &nbsp;
            <label>
              <input type="checkbox" v-model="statusFilters.unresponsive">
              Unresponsive only
            </label>

          </div>
          <div class="list-group">
            <a
              href="#"
              class="list-group-item"
              v-for="c in filteredContacts"
              v-bind:class="{ active: c.id == contact.id }"
              v-on:click="getContact(c.id)"
            >
              {{ c.first_name }} {{ c.last_name }}
              <span style="font-size: 1rem; font-style: italic" v-if="c.tags">
                ({{c.tags}})
              </span>
              <span
                class="label label-warning pull-right"
                v-if="c.unseen_messages_count > 0"
              >
                {{ c.unseen_messages_count }} new
              </span>
              <span class="label label-info pull-right" v-if="c.unresponsive">
                Unresponsive
              </span>
              <br>
              {{ c.phone_number }}
            </a>
          </div>
        </div>
        <div class="panel-footer">
          <form action="/contacts" method="post" v-on:submit.prevent="addContact">
            <div class="input-group">
              <input type="tel" name="phone_number" class="form-control" autocomplete="off" placeholder="Phone number" v-model="newContact.phone_number">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Add</button>
              </span>
            </div>
          </form>
          <form action="/contacts" method="post" enctype="multipart/form-data">
            <div class="input-group">
              <input type="file" name="file" class="form-control">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Upload</button>
              </span>
            </div>
          </form>
          <div class="text-right">
            <button type="button" class="btn btn-primary" v-on:click="massText">Mass Text</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Messages</h3>
        </div>
        <div id="message-scroll" class="panel-body max-height-60 overflow-y">
          <ul class="list-unstyled">
            <li v-for="m in formattedMessages" class="message" v-bind:class="[(m.direction == 'in' ? 'inbound' : 'outbound' ), { 'unseen': !m.seen_at }]">
              <span>{{ m.text }}</span>
              <br>
              <span class="small">{{ m.sender }} --- {{ m.created_at }}</span>
              <button
                type="button"
                style="float: right"
                class="btn btn-sm btn-default"
                v-if="!m.seen_at"
                v-on:click="updateMessage(m)"
              >
                <i class="fa fa-eye"></i>
              </button>
            </li>
          </ul>
        </div>
        <div class="panel-footer">
          <form action="/messages" method="post" v-on:submit.prevent="addMessage" v-if="contact.id">
            <input type="hidden" name="to" v-model="contact.phone_number">
            <div class="input-group">
              <textarea name="text" class="form-control" autocomplete="off" placeholder="Message" v-model="newMessage.text"></textarea>
              <span class="input-group-btn" style="vertical-align: bottom">
                <button type="submit" class="btn btn-primary">Send</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Details</h3>
        </div>
        <form v-bind:action="contactPath" method="post" v-on:submit.prevent="updateContact">
          <div class="panel-body max-height-60 overflow-y">
            <div v-if="contact.id">
            <% {first_name: 'text', last_name: 'text', email: 'email', phone_number: 'tel', tags: 'text'}.each do |k, v| %>
              <div class="form-group">
                <label for="<%= k %>"><%= k %></label>
                <input type="<%= v %>" name="<%= k %>" class="form-control" v-model.lazy="contact.<%= k %>">
              </div>
            <% end %>
            <input type="hidden" name="_method" value="patch">
            </div>
          </div>
          <div class="panel-footer text-right">
            <button type="button" class="btn btn-danger" v-if="contact.id" v-on:click="deleteContact">
              Delete
            </button>
            <button type="submit" class="btn btn-primary" v-if="contact.id">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

